AlignTrailingComments: true
AllowAllParametersOfDeclarationOnNextLine: true
AllowShortBlocksOnASingleLine: false
AllowShortFunctionsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
BasedOnStyle: LLVM
BreakBeforeBraces: BS_Linux
BreakBeforeBraces: Linux
ColumnLimit: 80
ContinuationIndentWidth: 4
IndentCaseLabels: false
IndentCaseLabels: false
IndentWidth: 8
KeepEmptyLinesAtTheStartOfBlocks: false
Language: Cpp
MaxEmptyLinesToKeep: 1
TabWidth: 8
UseTab: Always